.history/
venv/
__pycache__/
*.pyc

src/alpha/__pycache__/
src/neo/__pycache__/
src/neo/config/__pycache__/
src/neo/core/__pycache__/
src/neo/ui/__pycache__/

assets/art/flower/New Piskel-20250826-015329.piskel

.DS_Store
